<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.263.net" port="25" userName="liuzhongyuan@zqvideo.com" password="Zqvideo12" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>